<form id="siwe-sign" method="POST" action="/auth/siwe/callback" style="display: none;">
  <textarea id="eth_account" name="eth_account"></textarea>
  <textarea id="eth_message" name="eth_message"></textarea>
  <textarea id="eth_signature" name="eth_signature"></textarea>
  <textarea id="eth_avatar" name="eth_avatar"></textarea>
</form>
<div class="eth_provider_container">
  <div class="eth_provider_auth_button">
    {{d-button
      class="btn-primary"
      action=(action "initAuth")
      label="eth_providers.buttons.start"
    }}
  </div>
</div>
